<p id="notice"><%= notice %></p>

<h1>Client Beds</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @client_beds.each do |client_bed| %>
      <tr>
        <td><%= link_to 'Show', client_bed %></td>
        <td><%= link_to 'Edit', edit_client_bed_path(client_bed) %></td>
        <td><%= link_to 'Destroy', client_bed, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Client Bed', new_client_bed_path %>
