<p id="notice"><%= notice %></p>

<h1>Organizations</h1>

<% @organizations.each do |o| %>
  <div class="col-md-12">
    <div class="col-md-6" style="padding-bottom:5px"><img src="http://placehold.it/350x150"></div>
    <div class="col-md-6">
      <div class="col-md-12"><%= o.organization_name %></div>
      <hr>
      <div class="col-md-12"><%= o.description %></div>
    </div>
  </div>
  <div class="col-md-12 text-right">
    <%= link_to 'Show', o, class: "btn" %>
    <%= link_to 'Edit', edit_organization_path(o), class: "btn" %>
    <%= link_to 'Destroy', o, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn" %>
  </div>
<% end %>


<br>

<%= link_to 'New Organization', new_organization_path, class: "btn btn-primary" %>
