<p id="notice"><%= notice %></p>

<h1>Organizations</h1>

<table class="table" id="organizations-table">
  <thead>
    <tr>
      <th data-sort="string">Name</th>
      <th data-sort="string">Description</th>
      <th data-sort="string">Address</th>
      <th data-sort="string">Phone</th>
      <th data-sort="string">Email</th>
      <th data-sort="string">Actions</th>
      <th data-sort="boolean">Active</th>
    </tr>
  </thead>

  <tbody>
    <% @organizations.each do |organization| %>
    <tr>
      <td><%= organization.organization_name %></td>
      <td><%= organization.description %></td>
      <td><%= organization.address %></td>
      <td><%= organization.phone %></td>
      <td><%= organization.email %></td>
      <td data-label="Actions">
        <%= link_to 'Show', organization, class: "btn" %>
        <%= link_to 'Edit', edit_organization_path(organization), class: "btn" %>
        <%= link_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn" %>
      </td>
      <td><%= organization.active %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Organization', new_organization_path, class: "btn btn-primary" %>
